<div class="row">
  <div class="col s12 center-align">
    <h3><%= @topic.title %></h3>
    <% if policy(@topic).destroy? %>
      <%= link_to topic_path(@topic), method: :delete, class: 'waves-effect waves-light btn red', data: { confirm: "Are you sure?" } do %>
        Delete Topic
        <i class="mdi-action-delete"></i>
      <% end %>
    <% end %>
    <% if policy(Bookmark.new).create? %>
      <%= link_to new_topic_bookmark_path(@topic), class: 'waves-effect waves-light btn blue' do %>
        Add Bookmark
        <i class="mdi-action-thumb-up"></i>
      <% end %>
    <% end %>
    <% @bookmarks.each do |bookmark| %>
      <h5><%= bookmark.url %></h5>
      <b>Created by: <%= bookmark.user.name %></b>
      <br>
      <% if policy(bookmark).destroy? %>
        <%= link_to topic_bookmark_path(@topic, bookmark), method: :delete, data: { confirm: "Are you sure?" } do %>
          Delete
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>