<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav>
    <div class="nav-wrapper">
      <% if current_user %>
        <%= link_to "Blocmarks", root_path, class: 'brand-logo' %>
      <% else %>
        <%= link_to "Blocmarks", root_path, class: 'brand-logo' %>
      <% end %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to current_user.name, edit_user_registration_path %>
            <li><%= link_to "Topics", topics_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
        <ul id="mobile-demo" class="side-nav">
          <% if current_user %>
            <li><%= link_to current_user.name, edit_user_registration_path %>
            <li><%= link_to "Topics", topics_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
    </div>
  </nav>
  
  <% if flash[:notice] %>
    <div class="light-green accent-1 center-align" id="success">
      <span><%= flash[:notice] %><i class="close tiny mdi-content-clear right" id="close"></i></span>
    </div>
  <% elsif flash[:error] %>
    <div class="red lighten-3 center-align" id="error">
      <span><%= flash[:error] %><i class="close tiny mdi-content-clear right" id="close"></i></span>
    </div>
  <% elsif flash[:alert] %>
    <div class="yellow accent-4 center-align" id="alert">
      <span><%= flash[:alert] %><i class="close tiny mdi-content-clear right" id="close"></i></span>
    </div>
  <% end %>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
